In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
file_path=r'C:\Users\bhavrang\Documents\Analytics vidhya\GlobalDataChallenge-II\global_data_science_challenge_2_public-master/data/gdsc2_public.csv'
df=pd.read_csv(file_path, sep=';', parse_dates=['timestamp'])
df=df.sort_values(by=['work_item','timestamp'])

In [17]:
df.head()

,timestamp,work_item,work_type,work_priority,domain,platform,components,from_phase,to_phase,from_resource,to_resource
0,2015-01-02 14:39:14,WI_000001,WT_00001,WP_00003,BD_00001,PL_00001,NaN,NaN,Analyze,NaN,ER_00043
24,2015-01-05 11:48:08,WI_000001,WT_00001,WP_00003,BD_00001,PL_00001,NaN,Analyze,Design,ER_00043,ER_00149
29,2015-01-05 12:35:59,WI_000001,WT_00001,WP_00003,BD_00001,PL_00001,NaN,Design,Analyze,ER_00149,ER_00149
140,2015-01-07 11:04:51,WI_000001,WT_00001,WP_00003,BD_00001,PL_00001,NaN,Analyze,Design,ER_00149,ER_00043
145,2015-01-07 14:04:44,WI_000001,WT_00001,WP_00003,BD_00001,PL_00001,NaN,Design,Analyze,ER_00043,ER_00149